In [1]:

str ="hellothere , am happy"
substr = str[1:6:2]
print(substr)

elt

In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jose\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
str ="hello there , am happy"
substr = str[1:6]
print(substr)

ello

In [3]:
str ="hello there , am happy"
substr = str[6:]
print(substr)

there , am happy

In [4]:
str ="hellothere , am happy"
substr = str[1:6]
print(substr)

ellot

In [5]:
str ="hello there , am happy"
substr = str[:]
print(substr)

hello there , am happy

In [6]:
str.capitalize()

'Hello there , am happy'

In [7]:
str.count('e')

3

In [8]:
str .index('e')

1

In [9]:
str .split()

['hello', 'there', ',', 'am', 'happy']

In [1]:
#----print messages in python
print('introduction to python')
print('python is fun')

introduction to python
python is fun

In [2]:
#---compute an expression
print(10+20*3/2)

40.0

In [2]:
#graphics programming
#import turtle is used for graphics programming
# turtule refers to the object for drawin graphics
#defining a turtle
import turtle # Import turtle module


#direction of a turtle
turtle.showturtle()

In [8]:

#drawing a text line
turtle.write("Welcome to Python")

In [12]:
#move the arrowhead 100 pixels forward to draw a line in the direction the arrow is pointing
turtle.forward(50)

In [1]:
2+3

5

In [8]:
# outputs a float value
2/3

0.6666666666666666

In [2]:
#outputs an integer value
2//3

0

In [9]:
4/2

2.0

In [10]:
# power values
12**2

144

In [11]:
6**2

36

In [12]:
#outputs a reminder
5%2

1

In [13]:
2-3+2

1

In [14]:
#application of bodmas
2-(3+2)

-3

In [15]:
#printing out string statements
print('JOSEPHINE IS LEARNING PYTHON')

JOSEPHINE IS LEARNING PYTHON

In [16]:
#error is generated 
print('jose's laptop')

SyntaxError: unterminated string literal (detected at line 1) (4075368208.py, line 1)

In [17]:
#to solve error use the double and the single quotes
print("jose's laptop")

jose's laptop

In [37]:
#if u want to quote a certain word
print('jose "is smart"')

jose "is smart"

In [20]:
#use of a backslash
print('jose\'s "laptop"')

jose's "laptop"

In [22]:
#concatenation
print('jose' + 'jose')

josejose

In [29]:
#word spacing
print('jose' + ' ' + 'jose')

jose jose

In [30]:
print("jose" + " " + "jose")

jose jose

In [36]:
print('jose'+ ' ' + "is smart")

jose is smart

In [42]:
#raw string---printing c:\docs\jose put r
print( r'c:\docs\jose')

c:\docs\jose

In [43]:
print('c:\docs\jose')

c:\docs\jose

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Jose\AppData\Local\Temp\ipykernel_7864\3851768091.py:1: SyntaxWarning: invalid escape sequence '\d'
  print('c:\docs\jose')

In [47]:
#printing jose multiple times but wen they are spaced
print(10*'jose' ' ')

jose jose jose jose jose jose jose jose jose jose

In [62]:
#VARIABLES IN PYTHON
#Variable is a container that stores a value
x = 2
x + 2

4

In [66]:
y = 3
x + y

5

In [67]:
x = 4
x + y

7

In [69]:
name = 'youtube'
name

'youtube'

In [70]:
print(name)

youtube

In [71]:
name + 'rocks'

'youtuberocks'

In [72]:
name + ' ' + 'rocks'

'youtube rocks'

In [77]:
name 'rocks'

SyntaxError: invalid syntax (639239415.py, line 1)

In [74]:
#indexing
name[1]

'o'

In [75]:
name[-2]

'b'

In [76]:
name[1:2]

'o'

In [78]:
name[1:4]

'out'

In [83]:
#NUMPYNARRAY

import numpy as np 

my_arr = np.arange(1_000_000)
my_list = list(range(1_000_000))
my_arr

array([     0,      1,      2, ..., 999997, 999998, 999999])

In [91]:
#list of lists  of integers
lst = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
lst

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [93]:
np.array(lst)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [94]:
lst

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [94]:
lst

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [96]:
#shapes
data =np.array(lst)

In [97]:
data.shape

(3, 4)

In [98]:
#getting a datatype
arr2 = np.array([1,2,3],dtype = np.float64)
arr2

array([1., 2., 3.])

In [103]:
arr3 = np.array([1,2,3],dtype = np.complex128)
arr3

array([1.+0.j, 2.+0.j, 3.+0.j])

In [105]:
arr3.astype(np.int8)

C:\Users\Jose\AppData\Local\Temp\ipykernel_7864\3033543015.py:1: ComplexWarning: Casting complex values to real discards the imaginary part
  arr3.astype(np.int8)

array([1, 2, 3], dtype=int8)

In [109]:
int_array = np.arange(10)
int_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [110]:
#Arithmetic With Numpy
arr = np.array([[1,2,3],[4,3,1]])
arr

array([[1, 2, 3],
       [4, 3, 1]])

In [111]:
arr * arr

array([[ 1,  4,  9],
       [16,  9,  1]])

In [112]:
arr + arr

array([[2, 4, 6],
       [8, 6, 2]])

In [113]:
arr - arr

array([[0, 0, 0],
       [0, 0, 0]])

In [114]:
arr / arr

array([[1., 1., 1.],
       [1., 1., 1.]])

In [115]:
arr^2

array([[3, 0, 1],
       [6, 1, 3]], dtype=int32)

In [116]:
arr **2

array([[ 1,  4,  9],
       [16,  9,  1]])

In [117]:
arr%arr

array([[0, 0, 0],
       [0, 0, 0]])

In [118]:
1/arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.33333333, 1.        ]])

In [119]:
arr2 = np.array([[0.,4.,3.],[1,3,4]])
arr2

array([[0., 4., 3.],
       [1., 3., 4.]])

In [120]:
arr2 > arr

array([[False,  True, False],
       [False, False,  True]])

In [134]:
arr[0,0]

1

In [122]:
arr >= arr2

array([[ True, False,  True],
       [ True,  True, False]])

In [121]:
arr > arr2

array([[ True, False, False],
       [ True, False, False]])

In [123]:
arr3d = np.array([[[1,2,2],[3,4,5]],[[6,7,8],[9,10,11]]])
arr3d

array([[[ 1,  2,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [132]:
arr3d[0]

array([[1, 2, 2],
       [3, 4, 5]])

In [131]:
#multiple indexing
arr3d[1,0]

array([6, 7, 8])

In [136]:
arr3d[0,0,0]

1

In [138]:
arr3d[0,1,1]

4

In [139]:
arr3d[0,0,1]

2

In [140]:
arr3d[0,0,2]

2

In [143]:
arr3d[0,1,0]

3

In [2]:

#casting : specifing the data type of a variable
x = 2
print (type(x))
y = "string"
print (type(y))

<class 'int'>
<class 'str'>

In [5]:
# variables are case sensitive
a = 2
A = 3
print(A)

3

In [11]:
# Assing values to multiple variables
x,y,z = 2,3,4
print(x)
print(y)
print(z)

2
3
4

In [12]:
# assigning one value to multiple variables 
#Simultaneous assignment
x = y = z = 4
print(x)
print(y)
print(z)

4
4
4

In [17]:
#unpacking a collection
my_list = ["orange", "blue", "black"]
x, y, z = my_list
print(x)

print(y)

print(z)

orange
blue
black

In [20]:
# output variables

x = "python is fun"

print(x)

python is fun

In [22]:
x = "python"
y = "is"
z = "fun"
print(x,y,z)

python is fun

In [23]:
# using the + operator to form sentence without a space charcters after is and python
x = "python"
y = "is"
z = "fun"
print(x+y+z)

pythonisfun

In [24]:
# using the + operator to form sentence with a space charcters after is and python
x = "python "
y = "is "
z = "fun"
print(x,y,z)

python  is  fun

In [27]:
#type conversion
x = 2
y = 2.444
z = 23j
#
a = float(x)
b = int(y)
c = complex(x)

print(a)

print(c)

print(b)

2.0
(2+0j)
2

In [6]:
#format strings
age = 34
x = f"l am John,l am {age} years"
print(x)

l am John,l am 34 years

In [8]:
#Booleans represent one of two values: True or False
print(10 > 2)
print(10 == 10)
print(2 > 7)

True
True
False

In [ ]:
#PYTHON LISTS  Lists are used to store multiple items in a single variable.

In [10]:
width = 4.4
height = 7.9
area = width * height
print (area)

34.760000000000005

In [15]:
# SOLVING PROBLEMS
miles = 100
kilometres = miles * 1.609
print ("the value of kilometres is", kilometres)

the value of kilometres is 160.9

In [16]:
# the program to accept input from the user
#prompt the user to enter the width and height
width = eval(input("the width is:"))
height = eval(input("the height is:"))
area = width * height 
print("the area is:",area)

the width is: 23
the height is: 24

the area is: 552

In [19]:
#computing the average by prompting the user to enter input
number1 = eval(input("number1"))
number2 = eval(input("number2"))
number3 = eval(input("number3"))
number4 = eval(input("number4"))

average = (number1 + number2 + number3 + number4)/4
print ( "the average of four numbers is:", average)

number1 2
number2 3
number3 4
number4 5

the average of four numbers is: 3.5

In [12]:
#Swapping of values
a = 2
b = 3
a,b = b,a
print("a is:",a)
print("b is:",b)

a is: 3
b is: 2

In [ ]:
# Prompting a user to enter integer values float values cant be accepted

In [4]:
#simutaneous assignment while prompting the user to enter the input,  enter input in one line
num1, num2 ,num3 = eval(input("enter the numbers:"))
average = (num1 + num2 + num3)/3
print("the average of three numbers is:", average)

enter the numbers: 1,2,3

the average of three numbers is: 2.0

In [18]:
#type conversion
y = 2.4 
print(int(y))

x = 34
print(float(x))

x = 34
print(complex(x))

x = 34
print(bool(x))

2
34.0
(34+0j)
True

In [2]:
width = eval(input("the width is:"))
             
height = eval(input("the height is:"))
area = width * height 
print("the area is:",area)

the width is: 45
the height is: 45

the area is: 2025

In [4]:
#int function
value = 23.45
value = int(value)
print(value)

23

In [9]:
celcius = eval(input("Enter the celcius degree:"))
               
farenhiet = (9 / 5) * celcius + 32
#display an integer answer
answer = int(farenhiet)
print ("Degrees in farenhiet is: ", answer)

Enter the celcius degree: 45

Degrees in farenhiet is:  113

In [1]:
radius = 1
print(int(radius > 0))

1

In [7]:
#true corresponds to 1
#false corresponds to 0
radius = 1
print(radius > 0)

radius = 1
print(int(radius > 0))

radius = 1
print(radius < 0)

radius = 1
print(int(radius < 0))

True
1
False
0

In [8]:
#LISTS
mylist = ["cars",'1,2,3',"books","crafts"]
#calling the list
mylist

['cars', '1,2,3', 'books', 'crafts']

In [7]:
#indexing of lists
mylist[0]
mylist[1]

'books'

In [9]:
#determing the length of the list use the len() function
print(len(mylist))

4

In [14]:
#list constructor: list()
names = list(('benz','mycar','taxi'))
names

['benz', 'mycar', 'taxi']

In [22]:
#use of the in keyword
mylist = ["cars",'1,2,3',"books","crafts","apple"]
if "apple" in mylist:
  print("yes")

yes

In [37]:
#changing the a list item refer to the index number
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist[1] = "cows"
mylist

['cars', 'cows', 'books', 'crafts', 'apple']

In [30]:
# changing a range of items
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist[1:3] = ["goats","hens"]
mylist

['cars', 'goats', 'hens', 'crafts', 'apple']

In [38]:
# inserting an item without replacing it use the insert() method
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist.insert(4,"water")
mylist

['cars', '1,2,3', 'books', 'crafts', 'water', 'apple']

In [41]:
#put water as the last item use the append method
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist.append("water")
mylist

['cars', '1,2,3', 'books', 'crafts', 'apple', 'water']

In [43]:
#put water between [1] and [2]
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist.insert(2,"water")
mylist

['cars', '1,2,3', 'water', 'books', 'crafts', 'apple']

In [44]:
#put water as the first item in the list
mylist = ["cars",'1,2,3',"books","crafts","apple"]
mylist.insert(0,"water")
mylist

['water', 'cars', '1,2,3', 'books', 'crafts', 'apple']

In [45]:
#to put items from one list into another
mylist = ["cars",'1,2,3',"books","crafts","apple"]
add = ["mango", "apples","oranges"]
mylist.extend(add)
mylist

['cars', '1,2,3', 'books', 'crafts', 'apple', 'mango', 'apples', 'oranges']

In [48]:
#add items in a tuple to a list
mytuple = ("cats","lions","elephants")
mylist.extend(mytuple)
mylist

['cars',
 '1,2,3',
 'books',
 'crafts',
 'apple',
 'mango',
 'apples',
 'oranges',
 'cats',
 'lions',
 'elephants',
 'cats',
 'lions',
 'elephants',
 'cats',
 'lions',
 'elephants']

In [49]:
add = ["mango", "apples","oranges"]
add.extend(mytuple)
add

['mango', 'apples', 'oranges', 'cats', 'lions', 'elephants']

In [50]:
#removing items from a list
add = ["mango", "apples","oranges"]
add.remove("mango")
add

['apples', 'oranges']

In [5]:
#removing specific items using the index use the pop() method
add = ["mango", "apples","oranges","mango"]
add.pop(3)
add

['mango', 'apples', 'oranges']

In [4]:
add = ["mango", "apples","oranges","mango"]
add.remove("mango")
add

['apples', 'oranges', 'mango']

In [6]:
#if you dont specify any index the pop() method removes the last item
add = ["mango", "apples","oranges","mango"]
add.pop()
add

['mango', 'apples', 'oranges']

In [13]:
#the use of the del keyword with an index
add = ["mango", "apples","oranges","mango"]
del add[0]
add

['apples', 'oranges', 'mango']

In [18]:
#without the index the del deletes the whole list

add = ["mango", "apples","oranges","mango"]
del add
print(add)

NameError: name 'add' is not defined

In [19]:
#the use of the clear function it empties the list

add = ["mango", "apples","oranges","mango"]
add.clear()
add

[]

In [22]:
#loop through a list outputs an item one by one

# for loop
add = ["mango", "apples","oranges","mango"]
for x in add:
   print(x)

mango
apples
oranges
mango

In [24]:
# loop through an index number using the range and length methods
add = ["mango", "apples","oranges","mango"]
for x in range(len(add)):
   print(add[x])

mango
apples
oranges
mango

In [1]:
# while loop
add = ["mango", "apples","oranges","mango"]
x = 0
while x < len(add):
  print(add[x])
  x = x + 1

mango
apples
oranges
mango

In [8]:
#sorting lists alphabetically
#use the sort method
add = ["mango", "apples","oranges","mango"]
add.sort()
add

['apples', 'mango', 'mango', 'oranges']

In [7]:
#sorting numerically
mylist = [1,3,4,6,7,2,5,8,11,10]
mylist.sort()
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11]

In [10]:
#Sorting Descending use the reverse = true keyword
mylist = [1,3,4,6,7,2,5,8,11,10]
mylist.sort(reverse = True)
mylist

[11, 10, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
#copy a list into another list using the copy and list methods
add = ["mango", "apples","oranges","mango"]
mylist = add.copy()
mylist

['mango', 'apples', 'oranges', 'mango']

In [14]:
add = ["mango", "apples","oranges","mango"]
mylist = list(add)
mylist

['mango', 'apples', 'oranges', 'mango']

In [15]:
#joining lists using a + operator

add = ["mango", "apples","oranges","mango"]
mylist = [1,3,4,6,7,2,5,8,11,10]
list1 = add + mylist
list1

['mango', 'apples', 'oranges', 'mango', 1, 3, 4, 6, 7, 2, 5, 8, 11, 10]

In [7]:
#joining of lists using the append method
add = ["mango", "apples","oranges","mango"]
mylist = [1,3,4,6,7,2,5,8,11,10]
for x in mylist:
    add.append(x)
print(add)

['mango', 'apples', 'oranges', 'mango', 1, 3, 4, 6, 7, 2, 5, 8, 11, 10]

In [8]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [9]:
#putting items from one list into another list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [10]:
#length of a list
list1 = ["a", "b" , "c"]
print(len(list1))

3

In [11]:
#TUPLES: Tuples are used to store multiple items in a single variable
# Tuples are written with round brackets
#CREATION OF A TUPLE
mytuple = ("a", "b" , "c")
mytuple

('a', 'b', 'c')

In [12]:
#determimg the number of items in a tuple
mytuple = ("a", "b" , "c")
print(len(mytuple))

3

In [17]:
#Creation of a tuple with only one item add a comma at the end
mytuple = ("a",)
mytuple
print(type(mytuple))

<class 'tuple'>

In [16]:
#this is not recognized as a tuple
mytuple = ("a")

print(type(mytuple))

<class 'str'>

In [21]:
#TUPLES CAN CONTAIN DIFFERENT DATA TYPES
mytuple = ("a", "b" , "c")
tuple1 = (2,3,4)
tuple2 = (True,False)
mytuple
#tuple1
#tuple2

('a', 'b', 'c')

In [29]:
#TUPLE CONSTRUCTORS
tuple1 = tuple(("a", "b" , "c"))
print(tuple1)

('a', 'b', 'c')

In [30]:
#ACCESSING THE TUPLE ITEMS
mytuple = ("a", "b" , "c")
print(mytuple[0])

a

In [32]:
mytuple = ("a", "b" , "c")
print(mytuple[2])

c

In [38]:
# Update Tuples
mytuple = ("a", "b" , "c")
mytuple[1] = "d"
mytuple

TypeError: 'tuple' object does not support item assignment

In [40]:
# Update Tuples first convert it into a list
mytuple = ("a", "b" , "c")
mylist = list(mytuple)
mylist[1] = "d"
mytuple = tuple(mylist)
mytuple

('a', 'd', 'c')

In [43]:
#adding an item into a tuple
mytuple = ("a", "b" , "c")
mylist = list(mytuple)
mylist.append("q")
mytuple = tuple(mylist)
mytuple

('a', 'b', 'c', 'q')

In [44]:
mytuple = ("a", "b" , "c")
mylist = list(mytuple)
mylist.insert(0,"q")
mytuple = tuple(mylist)
mytuple

('q', 'a', 'b', 'c')

In [47]:
mytuple = ("a", "b" , "c")
mylist = list(mytuple)
mylist.insert(1,"q")
mytuple = tuple(mylist)
mytuple

('a', 'q', 'b', 'c')